@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{margin:0;
padding:0;
box-sizing:border-box;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.productDetails{
  display: flex;
}
.productDetails div {
  margin:20px;
}
.table,td{
  border:1px solid black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:white;
  min-height:50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#34495e;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loginlink{color:white;
  text-decoration: none;
  position:fixed;
  right:100px;
  top:10px;
  text-decoration:none;
  }

  #resturantlink{color:white;
    text-decoration: none;
    position:fixed;
    top:10px;
    right:180px;
    text-decoration:none;
  }
  
  #signuplink{
    color:white;
    text-decoration: none;
    position:fixed;
    right:10px;
    top:10px;
    text-decoration:none;
  
  }
  #heading{color:black;
    position:fixed;
    right:100px;
    margin-top:150px;
    font-size:60px;
   }
  
  .homepage{background-color:#2980b9;
    background-repeat: no-repeat;
    background-size: cover;
      height:100vh;
  width:100%;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  }   
  section{
    height: 100vh;
    width:100%;
    display:flex;}
   .homehead{
    font-weight:400;
    font-size:100px;
   }
 .container{
   font-family: 'Poppins', sans-serif;
   height:100vh;
   width:50%;
}

 section #imgBox{
  height: 80vh;
  width:50%;
  display:flex;
}



section #imgBox img{
  display:flex;
  height:80vh;
  margin-top:50px;
  width:500px;
  margin-left:20px;
  object-fit: cover;
}
#redirect{color:white;
text-decoration:none;}

h1{margin-top:50px;
  margin-left:50px;
  color:black;
  font-size:50px;
  font-family:Poppin;}

#pass{margin-top:25px;}


.input {border-radius:10px;
  padding:5px 5px 5px 5px ;
  margin-top:20px;
  margin-right:50%;
  margin-left:20%;
  height:40px;
  width:250px;
  padding:4px;
  }
  #btn{background-color:#3498db;
    cursor:pointer;
    border-radius:5px;
    color:white;
     margin-left:80px;
    margin-right:60%;
    margin-top:20%;
    margin-bottom:5%;
    padding:8px 8px 8px 8px ;
    width:100px;
  }
#Register{color:red;
text-decoration: none;
}
#para{margin-top: 40%;}

section .imgBox2{  height: 80vh;
  width:50%;
  display:flex;

}
section .imgBox2 img{
  display:flex;
  height:80vh;
  margin-top:70px;
  width:100%;
  margin-left:20px;
  object-fit: cover;
}
.data{position:fixed;
left:680px;
top:330px;
}
h2{margin-top:25px;
  letter-spacing: .5px;
  margin-right:50%;
  margin-left:130px;
  color:black;
  font-size:55px;
  font-family:Lobster;}
  
.data2{position:fixed;
left:630px;
top:430px;
}
.search {position:fixed;
 top:20px;
 right:40%;
}
#heading{position:fixed;
top:70px;
left:5px;}
#search_btn{background-color:#ed4c67;
  margin-top:60px;
padding:5px;
color:white;
border-radius:5px;
font-weight: 400;
margin-left:15px;}
#search_input{width:350px;
  margin-top:60px;
  padding:5px;
border-radius:5px;}
.container{
  width: 100px;
}
.restaurentParent{
  width: 100%;
}
/*Navbaar Page CSS */
#homelink{
  position:fixed;
  top:10px;
  left:5px;
}

#productlink{
  position:fixed;
  top:10px;
  left:85px;
}

#editlink{
  position:fixed;
  top:10px;
  left:165px;
}

.navbaar{
width:100%;
height:45px;
top:0px;
position:fixed;
background-color:#34495e;}
.links{
list-style-type: none;
color:white;
text-decoration:none;
font-family:poppins}
#navhome{color:white;
text-decoration:none;
font-family:poppins}
#navadd{color:white;
text-decoration:none;
font-family:poppins}
#navedit{color:white;
text-decoration:none;
font-family:poppins}
#navlogin{color:white;
text-decoration:none;
font-family:poppins}
#navregister{color:white;
text-decoration:none;
font-family:poppins}
.links :hover{color:white;}
#link1{
  position:fixed;
  top:10px;
  right:110px;
      }
  #link2{
   position:fixed;
   top:10px;
   right:10px;
      }

.countbody{display:flex;
  align-items:center;
border:1px solid black;
margin-left:100px;
padding:0px 0px 0px 2px ;
background-color:red;
height:30px;
width:70px;
border-radius:5px;}
.value{color:white;
margin-left:10px;
margin-right:10px;
margin-top:0px;
margin-bottom:2px;}
#inc {
  background-color:red;
  border:none;
  color:white;
  cursor:pointer;
  padding-right:2px;
}

#dec {
  background-color:red;
  border:none;
  color:white;
  cursor:pointer;
  padding-left:2px;
  margin-left:4px;
}

 .image img{
    width:300px;
    height:250px;
    border-radius:8px;
  }
.countercss{display:flex;}
#item_image{margin-top:20px;
border-radius:10px;
margin-left:0px;}
#res_name{color:black;
font-family:lobster;
font-size:25px;
font-weight:300px;
text-decoration:underline;}
#item_price{color:black;
font-family:poppins;}
#res_id{color:black;
margin-left: 25px;}
.orders{border:1px solid black;
  margin:25px;
  min-height:150px;
  width:700px;
  border-radius:5px;

}

#order_heading{margin-top:45px;
font-family:poppins;
text-decoration: none;;}

.Upper_order_data{display: flex;
align-items:center;
background-color:#c0392b;
padding-bottom:10px;
}
#order_status{
  color:black;
border:1px solid black;
margin-top:2px;
border-radius:5px;
border:none;}
#res_name{color:orange;
margin:0px 300px 0px 100px;
text-decoration: none;}
.order_lower_data{display: flex;
  align-items:center;
margin:10px 0px 0px 10px;}
#order_amount{margin-left:300px;}
#place_order_btn{background-color:#d63031;
color:white;
border-radius:5px;
border:none;
padding:13px;
margin:15px;
cursor:pointer;
}
#cart_heading{font-family:Lobster;
  margin-top:50px;
  display:flex;
justify-content: center;
text-decoration: underline;
  margin-bottom: 15px;
  color:black;
  font-weight: 400;
  font-size:70px;
  
}
.lower_body{display: flex;
text-align: center;
justify-content: center;}
.Table_head{margin:10px;}
#price{
  color:black;
  position:absolute;
  right: 20px;
  top:100px;
  
}
.Body{display:flex;
}
#decrement{
  color:black;
font-size:20px;
margin-left:1px;
border: none;
background-color: white;
cursor:pointer;}
#increment{
color:black;
border: none;
background-color: white;
margin:1px;
font-size:20px;
cursor:pointer;}
#cart_product_price{
position:fixed;
right:35%;
  color:black;

}
.Counter{border:1px solid black;
  text-align: center;
  border-radius:5px;
  position:fixed;
  right:25%;
  width: 100px;
height:30px;}
#Product_name{
  display:flex;
  font-family: monospace;
  margin-left:0%;
  color:black;
  font-size: 30px;
  font-weight: 200;
}
.cart_start_data{display:flex;
justify-content: center;}
#Total_price{position:fixed;
  right:20%;
color:black;
font-weight: 600;
}
.cart_headings{
  color:black;
  margin: 5px;
  padding:5px;
}
.cartimage img{ display:flex;
  height:80vh;
  border-radius: 5px;
 top:60px;
  width:450px;
 left:10px;

  position:fixed;

  }
  .cart_details{display:flex;
  margin:15px;}
.productimage{margin-left: 10px;
display:flex;
height:80vh;
width:400px;
}
.cart_upper_content{display:flex;
justify-content: center;}
.cart_lower_content{display:flex;
  justify-content: center;}
.note{color:black;
font-weight: 600;
margin-top:30px;
margin-left:50px;
}
#res_title{
  margin-top:50px;
  margin-bottom:20px;
  margin-right:400px;
  color:black;
  font-size: 50px;
  font-family:lobster;
  font-weight:300;

}
#resto_link{text-decoration: none;
color:black;
font-family:poppins;}
.res_container{
  margin-top:0%;
  display:grid;
  grid-template-rows:repeat(3,1fr);
  grid-template-columns:repeat(3,1fr);
  row-gap: 10px;
  column-gap:10px;
  height:100vh;
  width:100%;
}
.res_grid image{margin-top:0%;
margin-left:1%;}
#res_span{margin-bottom:0%;}
#res_product{font-family:lobster;
font-size:40px;
text-align: center;
text-decoration: underline;
font-weight: 300;
margin-bottom:25px;}
.Restorent_items{display:grid;
width:100%;
height:100vh;
margin-top:15px;
margin-left:0%;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
row-gap:50px;
column-gap:50px;
}
#dish_name{color:black;
font-family:lobster;
font-size:20px;}